<h1>Questions for <%= @bank.name %></h1>
<p>
<%= link_to 'New Question', new_room_bank_question_path(@room, @bank), :class => 'btn btn-primary' %>

<%= link_to "Back to Question Banks", room_banks_path(@room), :class => 'btn btn-inverse' %><% if @bank.questions.count == 0 %><%= link_to 'Delete', [@room, @bank], :method => 'delete', :class => 'btn btn-danger' %><% end %>
</p>
<table class="table">
	<% @questions.order("sequence ASC").each do |question| %>
		<tr>
			<td><%= question.sequence %></td>
			<td><%= markdown question.content %>
				<% if question.notes != nil && !question.notes.empty? %>
					<p class="qnote"><%= question.notes %></p>
				<% end %>
			</td>
			<td><%= link_to "Post as Prompt", post_room_bank_question_path(@room, @bank, question), :class => 'btn btn-mini btn-success', :id => "qb#{question.id}", :remote => true %></td>
			<td><%= link_to 'Edit', edit_room_bank_question_path(@room, @bank, question,), :class => 'btn btn-mini btn-warning' %></td>
			<td><%= link_to 'Destroy', [@room, @bank, question], method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
		</tr>
	<% end %>
</table>

<p>
<%= link_to 'New Question', new_room_bank_question_path(@room, @bank), :class => 'btn btn-primary' %>

<%= link_to "Back to Question Banks", room_banks_path(@room), :class => 'btn btn-inverse' %>

<% if @bank.questions.count == 0 %><%= link_to 'Delete', [@room, @bank], :method => 'delete', :class => 'btn btn-danger' %><% end %>
</p>

<div class="accordion" id="accordion2" style="margin-top: 8px;">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
				Copy this Bank to Another Room
			</a>
		</div>
		<div id="collapseOne" class="accordion-body collapse">
			<div class="accordion-inner">
				<%= form_tag copy_room_bank_path(@room, @bank)	do %>
					<p>Copy to which room? <%= select_tag :target, options_from_collection_for_select((current_user.admin? ? Room.all : current_user.managed_rooms), 'id', 'name') %></p>
					<p><%= submit_tag "Go!", :class => 'btn btn-success' %></p>
				<% end %>
			</div>
		</div>
	</div>
</div>

