<h1>Questions for <%= @bank.name %></h1>

<%= render :partial => 'rooms/buttonbar' %>
<br/>
<p>
<%= link_to 'New Question', new_user_bank_question_path(current_user, @bank, :room_id => @room.id), :class => 'btn btn-primary' %>

<%= link_to "Back to Question Banks", user_banks_path(current_user, :room_id => @room.id), :class => 'btn btn-inverse' %>
</p>
<table class="table">
	<% @questions.order("sequence ASC").each do |question| %>
		<tr>
			<td><%= question.sequence %></td>
			<td><%= markdown question.content %>
				<% if question.notes != nil && !question.notes.empty? %>
					<p class="qnote"><%= question.notes %></p>
				<% end %>
			</td>
            <td><%= link_to "Post as Prompt", post_user_bank_question_path(current_user, @bank, question, :room_id => @room.id), :class => 'btn btn-mini btn-success', :id => "qb#{question.id}", :remote => true %></td>
            <td><%= link_to 'Edit', edit_user_bank_question_path(current_user, @bank, question, :room_id => @room.id), :class => 'btn btn-mini btn-warning' %></td>
            <td><%= link_to 'Destroy', user_bank_question_path(current_user, @bank, question, :room_id => @room.id), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
		</tr>
	<% end %>
</table>

<p>
<%= link_to 'New Question', new_user_bank_question_path(current_user, @bank, :room_id => @room.id), :class => 'btn btn-primary' %>

<%= link_to "Back to Question Banks", user_banks_path(current_user, :room_id => @room.id), :class => 'btn btn-inverse' %>

<%= link_to 'Delete', user_bank_path(current_user, @bank, :room_id => @room.id), :method => 'delete', :class => 'btn btn-danger', :conform => "Really delete this bank?" %>
</p>

