<%= simple_form_for([current_user,@bank], :room_id => @room.id) do |f| %>
  <%= f.error_notification %>

  <%= hidden_field_tag :room_id, @room.id %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :notes %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
