<h1>Your Question Banks</h1>

<table class="table">
  <tr>
		<th>Name</th>
        <th>Questions</th>
    <th>Notes</th>
        <th>Last Question Updated</th>
  </tr>

<% @banks.each do |bank| %>
  <tr>
      <td><%= link_to bank.name, user_bank_path(current_user.id, bank.id, :room_id => params[:room_id]) %></td>
		<td><%= bank.questions.count %></td>
        <td><%= bank.notes %></td>
        <td><%= bank.questions.count > 0 ? time_ago_in_words(bank.questions.order(:updated_at).last.updated_at) : '-' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bank', new_user_bank_path(current_user, :room_id => @room.id), :class => 'btn btn-primary' %>
<%= link_to "Back to Room", @room, :class => 'btn btn-inverse' %>
