<h1><%= @bank.name %></h1>
<p><b>Notes</b></p>
<%= @bank.notes %>
<hr/>

<ul id="qlist"> 
	<% @bank.questions.order('sequence ASC').each do |q| %>
		<li id="q<%= q.id %>">[<%= q.sequence %>]<%= q.content %></li>
	<% end %>
</ul>

<hr/>
<div class="row">
	<div class="span6">
		<h4>Quick Add Question</h4>
		<%= simple_form_for [current_user, @bank, @bank.questions.build], :remote => true do |f| %>
			<%= f.input :content %>
			<%= f.input :sequence, :value => (@bank.questions.maximum('sequence').to_i || 0) + 1 %>
			<%= hidden_field_tag "remote", true %>
			<%= submit_tag "Add", :class => 'btn btn-success' %>
		<% end %>
	</div>
	<div class="span5">

	</div>
</div>

<%= link_to "Back to Bank List", user_banks_path(current_user), :class => 'btn' %>
<%= link_to "Back to Room", @room, :class => 'btn' %>
<%= link_to 'Edit', edit_user_bank_path(current_user, @bank), :class => 'btn' %>
<% if @bank.questions.count == 0 %><%= link_to 'Delete', [current_user, @bank], :method => 'delete', :class => 'btn btn-danger' %><% end %>
