<h1><%= @user.name %></h1>
<div> 
	<dl class="dl-horizontal">
<dt><strong>Username:</strong></dt>
<dd><%= @user.username %></dd>
<dt><strong>Email:</strong></dt>
<dd><%= @user.email_address %></dd>
<dt><strong>Administrator:</strong></dt>
<dd><%= truthy_thumb @user.administrator %></dd>
</dl>
	<%= link_to 'Edit', edit_user_path(@user), :class => 'btn btn-info' if (current_user && (current_user.admin? || @user == current_user)) %>
</div>

<h2>Groups</h2>
<p><%= @user.name %> belongs to these security groups: </p>
<%= pills_for @user.groups %>

<h2>Rooms</h2>
<p><%= @user.name %> can participate in these rooms: </p>
<%= pills_for @user.rooms %>

<% if @user.internal && @user != current_user %>
    <%= link_to "Delete User", @user, :method => :delete, :class => 'btn btn-danger' %>
<% end %>
