<%= simple_form_for @room, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
	<div class="control-group text optional room_user_name">
		<%= f.label :user_name, "Owner", :class => 'text optional control-label' %>
		<div class="controls">
			<%= text_field_tag "room[user_name]", current_user.name, :"data-provide" => 'typeahead', :'data-items' => User.all.count, :"data-source" => User.all.map{|u| u.name}.to_s, :autocomplete => "off" %>
		</div>
	</div>
	<%= f.input :notes %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                rooms_path, :class => 'btn' %>
  </div>
<% end %>
