<div class="page-header">
	<% if @room.open %>
		<h1><%= @room.name %></h1>
	<% else %>
		<h1 style="color: #ba2222;"><i class="icon-ban-circle"></i> <%= @room.name %> <i class="icon-ban-circle"></i></h1>
	<% end %>
</div>

<% if @room.notes && !@room.notes.empty? %>
	<div class="notebox">
		<%= @room.notes %>
	</div>
<% end %>

<% if can? :write, @room %>
	<% content_for :manage do %>
		<h3>Manage!</h3>
		<div class="row">
			<div class="span3">
				<h3>Set Prompt</h3>
				<%= form_tag prompt_room_path(@room), :remote => true do %>
					<%= text_area_tag :content %><br/>
					<%= submit_tag "Post Prompt", :class => 'btn btn-large btn-primary' %>
				<% end %>
			</div>

			<div class="span3">
				<%= form_tag display_room_path(@room), :method => :GET do %>
					<p style="margin-bottom: 2px;">
					Image Size: <%= select_tag 's', options_for_select("Tiny" => 96, "Small" => 150, "Medium" => 200, "Large" => 250, "Giant" => 300), :class => 'input-small'%><br/> 
					<%= number_field_tag 'c', 6, :class => 'input-micro', :min => 1, :max => 12, :step => 1 %> X
					<%= number_field_tag 'r', 5, :class => 'input-micro', :min => 1, :max => 12, :step => 1 %> Grid
					</p>
					<p style="font-style: italic; font-size: 10px; margin-top: 2px; line-height: 12px;">
					Note that if your image size is too large, it will overflow over the edges of the grid.  Some experimentation may be necessary to find the optimal set up for your screen.
					</p>
					<p>
					<%= check_box_tag 'prompt' %> Show Prompt?<br/>
						<%= check_box_tag 'sounds' %> Play Sounds?
					</p>
					<%= submit_tag "Start Grid View", :class => 'btn btn-primary btn-large' %>

				<% end %>

			</div>

			<div class="span3">
				<p>
				<% if @room.open %>
					<%= link_to "#{i 'lock'} Lock Room".html_safe, lock_room_path(@room), :class => 'btn btn-danger btn-large'%>
				<% else %>
					<%= link_to "#{i 'unlock'} Unlock Room".html_safe, unlock_room_path(@room), :class => 'btn btn-success btn-large'%>
				<% end %>
				</p>

				<p>
				<%= link_to "Question Banks", room_banks_path(@room), :class => 'btn btn-large btn-primary' %>
				</p>

				<p>
				<%= link_to "Clear All Posts", clear_room_path(@room), :class => 'btn btn-warning', :remote => true, :confirm => "Really clear all posts?" %>
				</p>

				<p>
				<% if @room.users.count != @room.posts.count %>
					<%= link_to "!! Rebuild Membership !!", rebuild_room_path(@room), :class => 'btn btn-danger btn-large', :style => 'font-weight: bold;', :confirm => "WARNING: This will clear all existing posts.  Continue?"%>
				<% else %>
					<%= link_to "Rebuild Membership", rebuild_room_path(@room), :class => 'btn btn-inverse btn-mini', :confirm => 'WARNING: This will clear all existing posts.  Continue?' %>
				<% end %>
				</p>
				
				<p>
				<%= link_to "Edit Room", edit_room_path(@room), :class => 'btn btn-mini btn-warning' %>
				<% if current_user.admin? %>
					<%= link_to "Delete Room!", room_path(@room), :method => 'delete', :class => 'btn btn-danger btn-mini', :style => 'font-weight: bold', :confirm => "Really delete #{@room.name}?" %>
				<% end %>
				<p>
			</div>
		</div>
		<div>
		</div>
	<% end %>

<% end %>

<script>
	function scaleSVG(e, s) {
		e.document.firstChild.setAttribute("width", s);
		e.document.firstChild.setAttribute("height", s);
	}
</script>


<% if can? :post, @room %>
	<%= subscribe_to "/wepict/rooms/prompt/#{@room.id}" %>
	<% content_for :you do %>
		<div id="promptbox" class="alert alert-info promptbox" <%= 'style="display: none"' if @room.prompt && !@room.prompt.empty? %>>
			<%= markdown @room.prompt %>
		</div>
		<iframe src="<%= root_path %>signature.svg" height="300" width="300" id="sig" frameBorder="0" style="border: thin solid black;"></iframe>
		<%= form_tag post_room_path(@room), :id => 'dform', :remote => true do %>

			<%= hidden_field_tag :data, :nil %>

			<p>
			<a class="btn btn-danger" href="#" onClick="clearSignature()">Clear</a>
			<%= submit_tag "Submit", :class => 'btn btn-success' %>
			</p>
		<% end %>

		<script>
			var svg = $("#sig")[0].contentWindow;
			var pathdata = document.getElementById('pathdata');

			function showSignature() {
				pathdata.textContent = svg.getSignature();
			}

			function clearSignature() {
				svg.clearSignature();
				pathdata.textContent = '';
			}

			function setSignature(s) {
				svg.setSignature(s);
			}

			var myform = document.getElementById('dform');
			myform.addEventListener('submit', function() { 
				$("#data").val(svg.getSignature());
			});

		</script>
	<% end %>

<% end %>

<% if can? :read, @room %>
	<%= subscribe_to "/wepict/rooms/post/#{@room.id}" %>
	<% content_for :posts do %>
		<% if @room.posts.count > 0 %>
			<table class="table clearfix">
				<thead>
					<th>Submitter</th>
					<th>Submission</th>
				</thead>
				<tbody>

					<% @room.posts.each do |post| %>
						<tr>
							<td>
								<p>Created by <%= link_to post.user.name, post.user %>.</p>
								<p>Last updated <%= nice_datetime(post.updated_at) %>.</p>
							</td>
							<td>
								<iframe src="<%= root_path %>signature_show.svg" height="100" width="100" id="sig-<%= post.id %>" rameBorder="0" style="border: thin solid black;"></iframe>
								<script>
									$("#sig-<%= post.id %>").load(function() {
										box = $("#sig-<%= post.id %>")[0].contentWindow;
										scaleSVG(box,100);
										box.setSignature("<%= post.data %>");
									});
								</script>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		<% else %>
			<p>There doesn't appear to be anything here...</p>
		<% end %>
	<% end %>
<% end %>

<% content_for :users do %>
	<h3>Managed By</h3>
	<%= link_to @room.user.name, @room.user %>
	<h3>Participants</h3>
	<% if can? :write, @room %>
		<table class="table table-striped">
			<% @room.assignments.each do |a| %>
				<% if a.assignable %>
				<tr>
					<td width="5%">
						<%= form_tag unassign_room_path(@room) do %>
							<%= hidden_field_tag :assignment_id, a.id %>
							<%= submit_tag raw("&times;"), :class => 'btn btn-danger btn-mini' %>
						<% end %>
					</td>
					<td>
						<%= link_to a.assignable.display, a.assignable %>
						<% if a.assignable.is_a? Group %>
							<%= pills_for a.assignable.users %>
						<% end %>
					</td>
				</tr>
				<% end %>
			<% end %>
		</table>
		<%= form_tag assign_room_path(@room) do %>
			<p><%= text_field_tag "assignment[user_name]", nil, :placeholder => "User", :"data-provide" => 'typeahead', :'data-items' => @all_users.count, :"data-source" => @all_users.to_s, :autocomplete => "off", :class => 'input-small' %>
			OR
			<%= text_field_tag "assignment[group_name]", nil, :placeholder => "Group", :"data-provide" => 'typeahead', :'data-items' => @all_groups.count, :"data-source" => @all_groups.to_s, :autocomplete => false, :class => 'input-small' %></p>
			<%= submit_tag "Add", :class => 'btn btn-primary' %>
		<% end %>
	<% else %>
		<% if @room.users %>
			<%= pills_for @room.users %>
		<% else %>
			<p>There's nobody here...</p>
		<% end %>
	<% end %>
<% end %>

<%= tabify :manage => 'Management', :you => "Your Post", :posts => 'View Posts', :users => "Users & Groups" %>

